
.error {
    color: #ff0000;
}

.errorblock  {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

div.rmx-error-log {
    font-size: 60%;
    font-family: "Courier New";
    display: block;
    clear: both;

}
#fjwa-errors {
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    display: block;
    float: left;
}

#fjwa-log {
    float: left;
    width: 50%;
    display: block;
    /*display: inline-block;*/
}